<div class="container">
  <div class="row">
    <div class="col-1 col-md-0 col-sm-0"></div>
    <div class="col-10">
      <h1 class="h2">Usuários admins do Sistema</h1>
      <div class="d-flex justify-end w-100">
        <button id="btnAdd" class="btn btn-primary">Adicionar</button>
      </div>
      <div id="tableSpace" class="w-100"></div>
    </div>
    <div class="col-1 col-md-0 col-sm-0"></div>
  </div>
</div>

<script type="text/javascript" src="{{context.baseURL}}/assets/js/pages/admins/index.js"></script>
